TP2B/data/city_temperature.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Cities" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Region" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="State" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="Month" type="xs:int" />
              <xs:element name="Day" type="xs:int" />
              <xs:element name="Year" type="xs:int" />
              <xs:element name="AvgTemperature" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>