Integração de Sistemas/Desafio 1/idealista_houses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Title" type="xs:string" />
              <xs:element name="Price" type="xs:string" />
              <xs:element name="Location" type="xs:string" />
              <xs:element name="tX" type="xs:string" />
              <xs:element name="Area" type="xs:unsignedShort" />
              <xs:element name="ImageURL" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>